<main>
  <div fxLayout="row" fxLayoutAlign="start start" class="form">
    <div class="top-left-draw">
      <span class="rectangle-1"></span>
      <span class="circle-1"></span>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="20px"
      fxLayoutAlign="center center"
      class="form__content"
    >
      <mat-horizontal-stepper labelPosition="end" #stepper>
        <mat-step>
          <form>
            <ng-template matStepLabel>Type of reading</ng-template>

            <mat-radio-group>
              <mat-radio-button
                labelPosition="after"
                #im
                color="primary"
                value="1"
              >
                <img
                  style="cursor: pointer;"
                  (click)="im.checked = true"
                  src="../assets/cookies.png"
              /></mat-radio-button>
              <mat-radio-button color="primary" value="2"
                ><img src="../assets/eggs.png"
              /></mat-radio-button>
              <mat-radio-button color="primary" value="3"
                ><img src="../assets/pizza.png" />
              </mat-radio-button>
            </mat-radio-group>
            <button color="primary" mat-raised-button>
              Starta Questionaire
            </button>
            <h1>
              hello world Lorem
            </h1>
          </form>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Fill out does details</ng-template>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Finishing up</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</main>
